.hide-infor {
  overflow: hidden;
  height: 300px;
}
.show-more {
  color: white;
  display: block;
  margin: 0 auto;
}
.description-wrap img {
  width: 70%;
  height: 70%;
  margin: 0 auto;
  display: block;
}
