.appbarActive {
  position: fixed !important;
  right: 0px;
  left: 0px;
  z-index: 1500;
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px !important;
  top: 0px;
  transition: all 350ms ease-in-out 0s !important;
  animation: 400ms cubic-bezier(0.4, 0, 0.2, 1) 0s 1 normal none running animation-1lit4vl;
}

@keyframes animation-1lit4vl {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0px);
  }
}

.header-link{
  text-decoration: none;
  color: #0f3460;
}
.header-link.active{
  color: rgb(210, 63, 87)
}